@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.footer-container {
	width: 100%;
	height: 52rem;
	display: inline-block;
	text-align: center;
	flex-direction: column;
	color: white;
	background-color: hsl(260, 8%, 14%);
}

.footer-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 2.3rem;
}

.footer-info-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
}
.footer-info-title:hover {
	color: hsl(180, 66%, 49%);
}

.footer-info {
	margin-top: 3rem;
}

.footer-ppg {
	color: hsl(257, 7%, 63%);
	font-family: "Poppins", sans-serif;
	font-size: 0.65rem;
}

.footer-ppg {
	font-weight: 500;
}
.footer-ppg:hover {
	color: hsl(180, 66%, 49%);
}

svg:hover path {
	fill: hsl(180, 66%, 49%);
}

.footer-socials {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 4rem;
}
.facebook-icon,
.twitter-icon,
.pinterest-icon,
.instagram-icon {
	width: 12%;
	height: 4.37rem;
}

@media screen and (min-width: 600px) {
	.footer-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 5rem;
		height: 20rem;
		text-align: left;
	}

	.footer-title {
		display: flex;
		justify-content: center;
		height: 5rem;
		margin: 0;
	}

	.main-footer-info {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
		width: 50%;
		margin-left: 10rem;
	}

	.footer-info {
		margin: 0;
		height: 10rem;
	}

	.footer-info-title {
		font-size: 1.38rem;
	}

	.footer-ppg {
		font-size: 0.75rem;
	}

	.footer-socials {
		display: flex;
		justify-content: space-evenly;
		margin: 0;
		height: 3rem;
		width: 20%;
		padding-top: 1.5rem;
	}
}
