@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.desktop-nav {
	display: none;
}

.navbar {
	width: 100%;
	background-color: none;
	color: white;
	height: 5em;
	display: flex;
	padding: 0.95em;
	justify-content: flex-end;
	align-items: center;
}

.menu-bars {
	display: flex;
	margin-left: 1rem;
	color: hsl(257, 7%, 63%);
	font-size: 2rem;
	background: none;
}

.menu-container {
	display: flex;
	justify-content: center;
}

.nav-menu {
	background-color: none;
	width: 250px;
	height: 4em;
	display: none;
	justify-content: center;
}

.nav-menu.active {
	margin-left: 1.05rem;
	display: flex;
	position: absolute;
	z-index: 100;
	text-align: center;
	top: 8%;
	left: 0;
	border-radius: 4%;
	width: 90%;
	height: 22.29rem;
	background-color: hsl(257, 27%, 26%);
}

.nav-text,
.nav-text-primary {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: white;
	text-decoration: none;
	font-size: 1.125rem;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 16px;
	border-radius: 4px;
}

.nav-link {
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	background-color: hsl(180, 66%, 49%);
	/* background-size: 100% auto; */
	width: 50%;
	border-radius: 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: white;
}

.nav-menu-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

@media screen and (min-width: 600px) {
	.desktop-nav {
		display: flex;
		width: 100%;
	}

	.navbar {
		height: 0;
	}

	.navbar-logo {
		margin: 0 auto;
	}

	.nav-menu-items {
		flex-direction: row;
		margin: 0;
	}

	.nav-text,
	.nav-text-primary {
		font-size: 1.3rem;
		color: hsl(0, 0%, 75%);
	}

	.nav-text {
		margin-left: 26%;
		margin-right: 2rem;
	}

	.nav-link {
		width: 15%;
	}

	.nav-text-primary a :hover,
	.nav-text a :hover {
		color: hsl(257, 27%, 26%);
	}

	.nav-link :hover {
		background-color: hsl(180, 63%, 77%);
	}

	.menu-bars {
		display: none;
	}
}
