@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin-top: 2.5rem;
}

.desktop-shorten-bg,
.desktop-boost-bg {
	display: none;
}

.shorten-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2.8125rem;
}

.mobile-shorten-bg {
	position: absolute;
	margin: 0 auto;
	width: 85%;
	border-radius: 10px;
	background-color: hsl(257, 27%, 26%);
	height: 10rem;
}

.outter-input-container {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0 1rem;
}

.input-container {
	text-align: center;
	width: 100%;
}

.input {
	margin-bottom: 15px;
	height: 2.8rem;
	width: 90%;
	border: none;
	border-radius: 5px;
	z-index: 99;
}

::placeholder {
	display: flex;
	align-items: center;
	padding-left: 0.7rem;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.shorten-it-btn {
	font-size: 1.3rem;
	width: 90%;
	height: 2.8rem;
}

.shorten-it-btn,
.shortened-btn {
	background-color: hsl(180, 66%, 49%);
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.full-links {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
	list-style-type: none;
}

.original-link {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	cursor: pointer;
	padding-left: 20px;
	height: 58px;
	border-bottom: 0.5px solid hsl(0, 0%, 75%);
}

.shortened-link {
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	border: none;
	cursor: pointer;
	padding-left: 20px;
	margin-top: 8px;
	color: hsl(180, 66%, 49%);
}

.shortened-btn-container {
	display: flex;
	justify-content: center;
}

.shortened-btn {
	margin-top: 10px;
	font-size: 1.2rem;
	width: 90%;
	height: 2.8rem;
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@media screen and (min-width: 600px) {
	.input-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.input {
		margin-right: 1.5rem;
	}

	/* .shorten-it-btn {
	} */

	.full-links {
		flex-direction: row;
		justify-content: space-between;
		width: 85%;
		margin: 0 auto;
		padding: 3rem 0 0;
	}

	.list {
		display: flex;
		align-items: center;
	}

	.shortened-link {
		margin-right: 1.75rem;
	}
}
