@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin-top: 2.5rem;
}

.desktop-shorten-bg {
	display: none;
}

.shorten-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2.8125rem;
}

.mobile-shorten-bg {
	position: absolute;
	margin: 0 auto;
	width: 85%;
	border-radius: 10px;
	background-color: hsl(257, 27%, 26%);
	height: 10rem;
}

.outter-input-container {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0 1rem;
}

.input-container {
	text-align: center;
	width: 100%;
}

.input {
	margin-bottom: 15px;
	height: 2.8rem;
	width: 90%;
	border: none;
	border-radius: 5px;
	z-index: 99;
	padding-left: 30px;
}

.input,
textarea {
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: hsl(260, 8%, 14%);
}

::placeholder {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.shorten-it-btn {
	font-size: 1.3rem;
	width: 90%;
	height: 2.8rem;
}

.shorten-it-btn,
.copy-btn {
	background-color: hsl(180, 66%, 49%);
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.full-links {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
	list-style-type: none;
	/* box-shadow: 5px 10px 8px 10px #888888; */
}

.original-link {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	cursor: pointer;
	padding-left: 20px;
	height: 58px;
	color: hsl(260, 8%, 14%);
}

.shortened-link {
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	border: none;
	cursor: pointer;
	padding-left: 20px;
	margin-top: 8px;
	color: hsl(180, 66%, 49%);
}

/* .copy-btn-container {
	display: flex;
	justify-content: center;
} */

.copy-btn {
	margin-top: 10px;
	font-size: 1.2rem;
	width: 90%;
	height: 2.8rem;
}

.copy-btn:focus {
	background-color: hsl(257, 27%, 26%);
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@media screen and (min-width: 600px) {
	.mobile-shorten-bg {
		display: none;
	}

	.desktop-shorten-bg {
		display: flex;
		position: absolute;
		margin: 0 auto;
		width: 85%;
		border-radius: 10px;
		background-color: hsl(257, 27%, 26%);
		height: 10rem;
	}

	.outter-input-container {
		padding: 0 4.5rem;
	}

	.input-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.input {
		margin-bottom: 0;
		margin-right: 1.5rem;
	}

	.input,
	.shorten-it-btn {
		border-radius: 11px;
		height: 3.5rem;
	}

	.emptyInput {
		width: 90%;
		border-radius: 11px;
		height: 3.5rem;
		border: 2px solid hsl(0, 87%, 67%);
		margin-bottom: 0;
		margin-right: 1.5rem;
	}

	.shorten-it-btn {
		width: 20%;
	}

	.shorten-it-btn:hover {
		background-color: hsl(180, 63%, 77%);
	}

	.full-links {
		flex-direction: column;
		justify-content: space-between;
		width: 85%;
		margin: 0 auto;
		margin-top: 4rem;
		padding: 0 30px;
	}

	.link {
		display: flex;
		align-items: center;
	}

	.original-link {
		padding: 0;
	}

	/* .list {
		display: flex;
		align-items: center;
	} */

	.shortened-link-and-btn {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	.shortened-link {
		text-decoration: none;
		margin-right: 1.75rem;
	}

	.copy-btn {
		width: 15%;
	}
}
