@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.App {
	width: 100vw;
	background-color: white;
	overflow-x: hidden;
}

.container {
	width: 100%;
}

.full-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.navbar-logo {
	padding: 2rem 3rem 0.75rem 1.3rem;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.navbar-logo {
		padding: 2rem 2rem 1rem 7rem;
		width: 30%;
	}
}
