@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.App {
	width: 100%;
	background-color: white;
}

.container {
	width: 100%;
}

.mobile-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.navbar-logo {
	padding: 2rem 3rem 0.75rem 1.3rem;
	width: 50%;
}

.header-img-container {
	width: 100%;
}

.header-img {
	padding: 1rem;
	width: 140%;
}

.header-title {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 2.5rem;
	color: hsl(260, 8%, 14%);
}

.header-ppg {
	font-size: 1.2rem;
	padding: 1rem;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: hsl(257, 7%, 63%);
}

.header-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-btn {
	width: 55%;
	padding: 11px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
	background-color: hsl(180, 66%, 49%);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px;
	margin-bottom: 20%;
}

.desktop-shorten-bg,
.desktop-boost-bg {
	display: none;
}

.mobile-shorten-bg {
	border-radius: 10px;
	background-color: hsl(257, 27%, 26%);
	height: 10rem;
}

.primary-main {
	display: grid;
}

.mobile-shorten-bg,
.input-btn-container {
	margin: 0 auto;
	width: 85%;
	grid-area: 1/1;
}

.input-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.input-container,
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-input,
.main-btn {
	cursor: pointer;
	height: 45px;
	width: 85%;
}

.main-input {
	border: none;
	border-radius: 5px;
}

::placeholder {
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.main-btn {
	background-color: hsl(180, 66%, 49%);
	color: white;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	border-radius: 5px;
	border: none;
}

.secondary-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}

.sm-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: hsl(260, 8%, 14%);
}

.sm-ppg {
	font-size: 1.1rem;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: hsl(257, 7%, 63%);
}

.first-ppg,
.second-ppg,
.third-ppg {
	text-align: center;
}

.first-ppg-img,
.second-ppg-img,
.third-ppg-img {
	width: 25%;
	border-radius: 50px;
	padding: 1.3rem;
	background-color: hsl(257, 27%, 26%);
}

.upper-img {
	margin: 0 auto;
	height: 3.6rem;
	width: 2.5%;
	background-color: hsl(180, 66%, 49%);
}

.ppg-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: hsl(260, 8%, 14%);
}

.ppg {
	padding: 0 3rem 2.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: hsl(257, 7%, 63%);
}

.footer-1 {
	display: grid;
}

.mobile-boost-bg,
.footer-1-title,
.footer-1-btn-container,
.footer-1-title-container {
	width: 100%;
	grid-area: 1/1;
}

.footer-1-title-container {
	display: flex;
	width: 100%;
}

.footer-1-title {
	text-align: center;
	font-size: 1.7rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: white;
	margin-top: 6.56rem;
}

.footer-1-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.footer-1-btn {
	width: 45%;
	padding: 0.6875rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	background-color: hsl(180, 66%, 49%);
	border: none;
	color: white;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px;
	margin-top: 5rem;
}

.mobile-boost-bg {
	background-color: hsl(257, 27%, 26%);
}

.footer-2 {
	width: 100%;
	height: 52rem;
	display: inline-block;
	text-align: center;
	flex-direction: column;
	color: white;
	background-color: hsl(260, 8%, 14%);
}

.footer-2-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
}

.footer-2-info-titles {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
}
.footer-2-info-titles:hover {
	color: hsl(180, 66%, 49%);
}

.footer-2-info {
	margin-top: 3rem;
}

.footer-2-ppg {
	color: hsl(257, 7%, 63%);
	font-family: "Poppins", sans-serif;
	font-size: 0.65rem;
}

.footer-ppg {
	font-weight: 500;
}
.footer-ppg:hover {
	color: hsl(180, 66%, 49%);
}

svg:hover path {
	fill: hsl(180, 66%, 49%);
}

.footer-2-socials {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 4rem;
}
.facebook-icon,
.twitter-icon,
.pinterest-icon,
.instagram-icon {
	width: 12%;
	height: 4.37rem;
}
